/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

/* global styles */
:root {
  --common-color: #e02c6d;
  --text-color: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
section {
  margin: 90px 0;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flexible_container {
  display: flex;
  position: relative;
}

.flex_info {
  flex: 1;
  display: flex;
  align-items: center;
}

.flex_img {
  flex: 1;
}

.section_title {
  font-size: 52px;
  color: var(--text-color);
}

.section_description {
  font-size: 16px;
  color: var(--text-color);
  margin: 20px 0;
}

.section_button {
  padding: 10px 25px;
  border-radius: 20px;
  outline: 0;
  border: 2px solid var(--common-color);
  color: #ffffff;
  background-color: var(--common-color);
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.section_button:hover {
  background-color: #ffffff;
  color: var(--common-color);
}
/* 
---------------------------------
page header 
--------------------------------- */
.page_header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 97px;
}
.header_title {
  font-size: 24px;
  color: #3a3a3a;
}

.isDisplay ul {
  display: flex;
  justify-content: space-around;
}
.isDisplay > ul li {
  list-style: none;
  margin-left: 39px;
}
.isDisplay > ul li > a {
  text-decoration: none;
}
.header_link a {
  font-size: 16px;
  color: #3a3a3a;
}
.isDisplay {
  display: block;
}
.header_icon {
  font-size: 30px;
}
.isDisplay {
  display: block;
}
.mobile_view {
  display: none;
}
/* ----------------------- 
 fluencer section  styles
-------------------  */
.influencer_info {
  padding: 0;
}

.influencer_img {
  position: relative;
  left: 70px;
  top: 0;
}

/* -----------------
popular products styles
------------------ */
.products_header {
  font-weight: 600;
  color: #3a3a3a;
  line-height: 70px;
  text-align: center;
}
.products_header > h3 {
  font-size: 28px;
}
.products_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  padding: 30px;
}

.product_item {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px;
  width: 85%;
}
.product_img {
  width: 100%;
}
.product_img img {
  width: 100%;
}
.product_description {
  margin-top: 20px;
}

.product_name {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
}
.product_price {
  font-weight: normal;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin: 10px 0;
}
.fa-star {
  font-size: 12px;
  color: #fb8200;
}
.product_rating {
  font-size: 12px;
}
.service {
  font-size: 14px;
  color: #787885;
  font-weight: bold;
}
.see_more {
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  position: absolute;
  left: 84%;
}

/* ----------------
feature products 
---------------- */

/* .feature_product_img {
  width: 100%;
} */
.feature_product_img img {
  width: 80%;
}
.feature_product_title {
  font-size: 37px;
  color: #0a0826;
}
.feature_product_description {
  font-size: 16px;
  color: #6c6c6c;
  margin: 15px;
}

/* --------------------------------
footer section 
--------------------------------- */
.footer {
  height: 239px;
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.footer_header {
  font-size: 24;
}
.footer_text {
  margin: 10px 0;
  font-size: 14px;
}
.social_link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.fab {
  color: #ffffff;
  font-size: 25px;
}
/* -----------------------
responsive styles 
---------------------- */

/* smart phone  */

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .flexible_container {
    display: flex;
    flex-direction: column;
  }
  .flexible_container img {
    width: 80%;
  }
  .flex_info {
    order: 2;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .flex_img {
    order: 1;
    flex: 1;
  }
  .influencer_info {
    padding: 0 30px;
    text-align: center;
  }
  .section_title {
    font-size: 29px;
  }
  .influencer_img {
    margin: 45px 30px;
    position: relative;
    left: 0;
    top: 0;
  }

  /* header section */
  .page_header {
    justify-content: space-evenly;
  }
  .header_title {
    font-size: 20px;
  }
  .isDisplay {
    display: none;
  }
  .mobile_view {
    display: block;
  }
  /* popular products */

  .products_container {
    grid-template-columns: 1fr;
  }
  .product_item {
    width: 100%;
  }
  .products_header > h3 {
    font-size: 20px;
  }
  .see_more {
    left: 68%;
  }

  /* feature products */

  .feature_product_img img {
    width: 100%;
  }
  .feature_product_title {
    font-size: 24px;
    color: #0a0826;
  }
  .feature_product_description {
    font-size: 14px;
    color: #6c6c6c;
    margin: 15px 0;
  }
  .feature_products_info {
    text-align: center;
    padding: 20px;
  }
}

/* -------------------------------------
tablet device
------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 80%;
  }
  .flexible_container {
    flex-direction: column;
    justify-content: center;
  }
  .flex_info {
    order: 2;
  }
  .flex_img {
    order: 1;
  }
  .influencer_info {
    text-align: center;
  }
  .section_title {
    font-size: 40px;
  }
  .products_container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .product_item {
    width: 100%;
  }
  .products_header > h3 {
    font-size: 30px;
  }
  .see_more {
    left: 80%;
  }
}
